@import './base.css';

/* 自訂配色 */
:root {
  /* 背景顏色 */
  --bg-color: linear-gradient(180deg, #cfe1ea 0%, #dceaf1 100%);
  
 /* 股市 */
  --lightBull: #ffb3b3;          /* 偏多：粉紅 */
  --lightBull-hover: #ff8a8a;      /* 比粉紅深一點 */
  --modalLightBull: #ffc4c4;     /* Modal 專用：更淺的粉紅 */
  
  --darkBull: #fe7171;           /* 極多：紅 */
  --darkBull-hover: #f96161;       /* 紅色變亮一點 */
  --modalDarkBull: #fe8e8e;      /* Modal 專用：更淺的紅 */

  --lightBear: #bdfcc0;          /* 偏空：淺綠 */
  --lightBear-hover: #92f29b;      /* 比淺綠深一點 */
  --modalLightBear: #cdfdd0;     /* Modal 專用：更淺的淺綠 */
  
  --darkBear: #47c462;           /* 極空：綠 */
  --darkBear-hover: #26d264;       /* 綠色變亮一點 */
  --modalDarkBear: #65d07c;      /* Modal 專用：更淺的綠 */

  --lightFlat: #f7ffa2;          /* 平盤：淺黃 */
  --lightFlat-hover: #f0fa63;      /* 淺黃深一點 */
  --modalFlat: #f9ffb8;          /* Modal 專用：更淺的黃 */

  --gray: #bbbbbc;              /* 沒資料：灰 */
  --gray-hover: #9e9ea0;          /* 灰色深一點 */
  --modalGray: #cfcfd0;          /* Modal 專用：更淺的灰 */

  --pill: #bbbbbc;
  --text: #111;

  --shadow: 0 8px 22px rgba(0, 0, 0, .12);
  --shadow-hover: 0 12px 32px rgba(0, 0, 0, .12);

  --shadow-small: 0 4px 12px rgba(0, 0, 0, .12);
  --shadow-small-hover: 0 5px 16px rgba(0, 0, 0, .14);
  --card: #fff;
}

/* 讓首頁能進行全寬/全高設計 */
#app {
  max-width: none;
  margin: 0;
  padding: 0;
  font-weight: normal;
}

a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
  padding: 3px;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}

.screen {
  display: flex;
  flex-direction: column;
  position: relative;
  min-height: 100dvh;
  width: 100%;
  overflow: hidden;
  background: var(--bg-color);
  padding: 10px;
}

.main-content {
  flex: 1;
  display: flex;
  height: 100%;
  gap: 7px;
}

/* 小圓角標籤 */
.pill {
  display: inline-block;
  background: var(--pill);
  border-radius: 14px;
  padding: 10px 16px;
  font-weight: 800;
  box-shadow: var(--shadow);
  font-size: 18px;
}
.pill.small {
  padding: 5px 10px;
  font-size: 16px;
}

/* Bias Circle 流動動畫 */
@keyframes liquid-flow-right {
  0% {
    background-position: 0% center;
  }
  100% {
    background-position: 200% center;
  }
}

@media (max-width: 768px) {
  .screen {
    padding: 0px;
  }
  .main-content {
    margin: 10px 15px;
    margin-top: 65px;
    gap: 0px;
  }
}